.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  .navbar-brand{
    pointer-events: none;
    cursor: default;
  }

 .title {
    font: 40px Courier, sans-serif;
    font-stretch: normal;
}

#disabled{
    color: orangered;
    pointer-events: none;
    cursor: default;
}
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

.text {
    font: 18px Verdana, sans-serif;
    line-height: 1.5;
}